target/*
**/target/

**/docker/

.classpath
**/.classpath

.project
**/.project

org.eclipse.*
**/org.eclipse.*

.settings/*
**/.settings/*

.factorypath
**/.factorypath

.vscode/settings.json
*/.vscode/*

logs/*
**/logs/*

**/.flattened-*
