target/*
**/target/*

.classpath
**/.classpath

.project
**/.project

org.eclipse.*
**/org.eclipse.*

.settings/*
**/.settings/*

.factorypath
**/.factorypath

docker/*
**/docker/*

.vscode/*

**/.flattened-*
