##########################
# PLATFORM CONFIGURATION #
##########################
/platform=
/platform/mongo=
/platform/mongo/host=storage
/platform/mongo/port=27017
/platform/mongo/secure=true
/platform/mongo/username=default
/platform/mongo/password=default
/platform/mongo/database=reference
/platform/kafka=
/platform/kafka/bootstrap.servers=channel:9092
/platform/kafka/acks=1
/platform/kafka/key.serializer=org.apache.kafka.common.serialization.StringSerializer
/platform/kafka/value.serializer=org.apache.kafka.common.serialization.StringSerializer
/platform/kafka/enable.auto.commit=true
/platform/kafka/auto.commit.interval.ms=5000
/platform/kafka/key.deserializer=org.apache.kafka.common.serialization.StringDeserializer
/platform/kafka/value.deserializer=org.apache.kafka.common.serialization.StringDeserializer
/platform/kafka/publishing.delay=1000
/platform/kafka/topic.region=default.kafka.topic.region.updated
/platform/kafka/topic.people=default.kafka.topic.people.updated
/platform/kafka/topic.department=default.kafka.topic.department.updated
/platform/kafka/topic.project=default.kafka.topic.project.updated
/platform/kafka/topic.budget=default.kafka.topic.budget.updated
/platform/kafka/topic.workflow=default.kafka.topic.workflow.updated
/platform/kafka/topic.workflowtask=default.kafka.topic.workflowtask.updated
/platform/kafka/topic.notification=default.kafka.topic.notification
/platform/elasticsearch=
/platform/elasticsearch/host=http://index:9200
/platform/elasticsearch/secure=true
/platform/elasticsearch/username=elastic
/platform/elasticsearch/password=default
/platform/mail=
/platform/mail/host=mail
/platform/mail/port=25
/platform/mail/from=noreply@referencesolution.com
/platform/mail/possibleAttributes=email
/platform/postgres=
/platform/postgres/host=rdbms
/platform/postgres/port=5432
/platform/postgres/username=default
/platform/postgres/password=default
/platform/keycloak=
/platform/keycloak/public.key=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAhXIs13Cznm2TGRTQvYYL/UPUkAjJx0GOeVaNpUqAeejFThPmxo1KPk39U+UfDqW6tv2PGXYk71bAX00KKVk0svgA7xm21P3FHttDy0rpaCuyG6Y0zs+2I+9JWA2bT8wPyeGl62AdBbl/rOh9XNSCSGD4XNxCRiAQlZe2uI95n27tEO3gvbLhIw+yFlNSlRqpPFK/9fF9gufbON9IalLazbTPumuhXiN4M1FHkDmA7T1li9lmZxi+xoIMGx+kydhRoxyMAJ3Gay5HvKRIozxL6UG9G2BplQRW29w2xW2LAs1i0ljLqWXtSffg9mmfe+VteF6ggtbN00+MtfzsuV2xPwIDAQAB
/platform/service=
/platform/service/timezone=Asia/Makassar
/platform/service/web.port=2000
/platform/service/registry.static=false
/platform/service/registry.protocol=http
########
# DATA #
########
/services=
/services/data=
/services/data/schema.resource.location=./schema
/services/data/index.mapping.location=./mapping
/services/data/secure.uri=
/services/data/kafka.topic.dependency=default.kafka.topic.region.updated,default.kafka.topic.people.updated,default.kafka.topic.department.updated,default.kafka.topic.project.updated,default.kafka.topic.budget.updated,default.kafka.topic.workflow.updated,default.kafka.topic.workflowtask.updated
/services/data/registry.address=
/services/data/kafka.group.id=data
/services/data/filter/remove=
###########
# GATEWAY #
###########
/services/gateway=
/services/gateway/workflow.enabled=true
/services/gateway/secure.uri={"/api/*":"data_management_user"}
/services/gateway/web.environment=test
/services/gateway/web.cors.origin=*
/services/gateway/registry.address=
################
# NOTIFICATION #
################
/services/notification=
/services/notification/template.resource.location=./template
/services/notification/email.subject=Email Notification from Reference Solution
/services/notification/registry.address=
/services/notification/kafka.group.id=notification
############
# WORKFLOW #
############
/services/workflow=
/services/workflow/secure.uri=
/services/workflow/definition.location=./definition
/services/workflow/domain.workflow=workflow
/services/workflow/domain.task=workflowtask
/services/workflow/db.name=workflow
/services/workflow/db.schema=workflow
/services/workflow/sync.waitperiod=2000
/services/workflow/registry.address=
/services/workflow/kafka.group.id=workflow
###########
# HISTORY #
###########
/services/history=
/services/history/git.hostName=github.com
/services/history/git.hostKey=AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEmKSENjQEezOmxkZMy7opKgwFB9nkt5YRrYMjNuG5N87uRgg6CLrbo5wAdT/y6v0mKV0U2w0WZ2YB/++Tpockg=
/services/history/git.url=git@github.com:iddevit/reference-solution-data.git
/services/history/git.dir=./repo
/services/history/git.key=id_rsa
/services/history/git.passPhrase=test
/services/history/kafka.group.id=history
/services/history/topics=default.kafka.topic.region.updated,default.kafka.topic.people.updated,default.kafka.topic.department.updated,default.kafka.topic.project.updated,default.kafka.topic.budget.updated
